version: 2.1
orbs:
  node: circleci/node@1.1.4
jobs:
  test:
    executor: node/default
    working_directory: ~/project
    steps:
      - checkout
      - node/with-cache:
          cache-key: yarn.lock
          steps:
            - run: yarn install
            - run: yarn test
workflows:
  version: 2
  test:
    jobs:
      - test

